<div class="modal-header">
  <h4 class="modal-title">View User</h4>
</div>
<div class="modal-body">
  <form [formGroup]="userViewForm">
    <span class="badge bg-primary" *ngIf="user.isActiveDirectory">Active Directory</span>
    <span class="badge bg-warning" *ngIf="!user.emailVerification">Email not verified</span>
    <div class="form-group row">
      <div class="col">
        <label for="firstName" class="my-1">First Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="firstName"
                 formControlName="firstName">
        </div>
      </div>
      <div class="col">
        <label for="lastName" class="my-1">Last Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="my-1">E-Mail Address</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input class="form-control" type="email" aria-describedby="inputGroupPrepend"
               id="email" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <label for="role" class="my-1">User Role</label>
      <select class="form-select" id="role" formControlName="role">
        <option value="2">Visitor</option>
        <option value="3">Admin</option>
      </select>
    </div>
    <div class="form-group">
      <label for="notificationChannel" class="my-1">Notification Channel</label>
      <select class="form-select" id="notificationChannel" formControlName="notificationChannel">
        <option value="1">none</option>
        <option value="2">email only</option>
        <option value="3">message box only</option>
        <option value="4">email & message box</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <a (click)="openUserEditForm()">
    <button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
  </a>
  <a (click)="openUserDeletionDialog()">
    <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
  </a>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(dirty ? 'dirty' : 'aborted')">
    Close
  </button>
</div>
