<div class="row">
  <h1 class="display-2 text-center">Registration</h1>
</div>

<br>

<div class="row justify-content-center">
  <div class="card col-md-4">
    <div class="col-auto card-body">
      <form (keyup.enter)="register()" [formGroup]="registerForm">
        <div class="form-group row">
          <div class="col">
            <label for="firstname" class="my-1">First Name</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="First Name" id="firstname"
                     formControlName="firstname" autocomplete="given-name">
            </div>
          </div>
          <div class="col">
            <label for="name" class="my-1">Last Name</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Last Name" id="name" formControlName="name"
                     autocomplete="family-name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="my-1">E-Mail Address</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <input class="form-control" type="email" placeholder="E-Mail Address" aria-describedby="inputGroupPrepend"
                   id="email" formControlName="email" autocomplete="email">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="my-1">Password</label>
          <input class="form-control" type="password" placeholder="Password" id="password"
                 formControlName="password" autocomplete="password">
        </div>
        <div class="form-group">
          <label for="password_confirmation" class="my-1">Password Confirmation</label>
          <input class="form-control" type="password" placeholder="Password Confirmation" id="password_confirmation"
                 formControlName="password_confirmation" autocomplete="password">
        </div>
        <br>
        <div class="row">
          <div class="form-group">
            <label class="form-check-label" for="safetyInstructions">
              <input type="checkbox" class="form-check-input" id="safetyInstructions"
                     formControlName="safetyInstructions">
              I have read and agree to the <a routerLink="/safety-instructions" target="_blank">
              Safety Introductions of Hardware Lab</a>
            </label>
          </div>
          <div class="form-group">
            <label class="form-check-label" for="hwlabRules">
              <input type="checkbox" class="form-check-input" id="hwlabRules" formControlName="hwlabRules">
              I have read and agree to the <a routerLink="/hwlab-rules" target="_blank">Rules of Hardware Lab</a>
            </label>
          </div>
        </div>
        <br>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''" [innerHTML]="errorMessage"></div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-primary" (click)="register()">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row text-center my-1">
    <p>Already have an account? <a routerLink="/login">Log in</a></p>
  </div>
</div>
