<div class="modal-header">
  <h4 class="modal-title">Edit User</h4>
</div>
<div class="modal-body">
  <form (keyup.enter)="editUserData()" [formGroup]="userEditForm" (ngSubmit)="editUserData()">
    <span class="badge bg-primary" *ngIf="user.isActiveDirectory">Active Directory</span>
    <span class="badge bg-warning" *ngIf="!user.emailVerification">Email not verified</span>
    <div class="form-group row">
      <div class="col">
        <label for="firstname" class="my-1">First Name</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="First Name" id="firstname"
                 formControlName="firstName" autocomplete="given-name">
        </div>
      </div>
      <div class="col">
        <label for="lastName" class="my-1">Last Name</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Last Name" id="lastName" formControlName="lastName"
                 autocomplete="family-name">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="my-1">E-Mail Address</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input class="form-control" type="email" placeholder="E-Mail Address" aria-describedby="inputGroupPrepend"
               id="email" formControlName="email" autocomplete="email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="my-1">Password</label>
      <input class="form-control" type="password" placeholder="Password" id="password"
             formControlName="password" autocomplete="password">
    </div>
    <div class="form-group">
      <label for="password_confirmation" class="my-1">Password Confirmation</label>
      <input class="form-control" type="password" placeholder="Password Confirmation" id="password_confirmation"
             formControlName="password_confirmation" autocomplete="password"
             (change)="checkPasswordConfirmation()">
      <div class=" alert alert-danger" role="alert" *ngIf="passwordConfirmationFails">
        <b>Edit failed:</b><br>
        {{ userEditErrorMessage }}
      </div>
    </div>
    <div class="form-group">
      <label for="role" class="my-1">User Role</label>
      <select class="form-select" id="role" formControlName="role">
        <option [value]="UserRole.visitor">Visitor</option>
        <option [value]="UserRole.admin">Admin</option>
      </select>
    </div>
    <div class="form-group">
      <label for="notificationChannel" class="my-1">Notification Channel</label>
      <select class="form-select" id="notificationChannel" formControlName="notificationChannel">
        <option value="1">none</option>
        <option value="2">email only</option>
        <option value="3">message box only</option>
        <option value="4">email & message box</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!userEditForm.valid || passwordConfirmationFails"
          (click)="editUserData()">Save
  </button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('aborted')">Abort</button>
</div>
