<div class="modal-header">
  <h4 class="modal-title">Edit Whitelist Retailer</h4>
</div>

<div class="modal-body">
  <form [formGroup]="retailerEditForm" (keyup.enter)="editWhitelistRetailerData()"
        (ngSubmit)="editWhitelistRetailerData()">
    <div class="form-group row">
      <div class="col">
        <label for="name" class="my-1">Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="name"
                 formControlName="name">
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-striped" style="table-layout: fixed">
        <thead class="thead-dark">
        <tr>
          <th class="col-2">Domains</th>
          <th class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let whitelistRetailerDomain of whitelistRetailer.domains">
          <td>{{ whitelistRetailerDomain.domain }}</td>
          <td>
            <a (click)="openWhitelistRetailerDomainEditForm(whitelistRetailerDomain.id)" type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
            <a (click)="openWhitelistRetailerDomainDeletionDialog(whitelistRetailerDomain.id)" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''" [innerHTML]="errorMessage"></div>
</div>

<div class="modal-footer">
  <div class="col text-left">
    <a (click)="openWhitelistRetailerDomainCreationForm()" class="btn btn-primary" role="button">
      <i class="bi-plus-lg"></i> Add Domain
    </a>
  </div>
  <button type="button" class="btn btn-primary" (click)="editWhitelistRetailerData()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('aborted')">Abort</button>
</div>
