<div class="row">
  <h1 class="display-2 text-center">Global Settings</h1>
</div>

<br>
<form class="form-inline col-sm-11 mx-auto py-3" [formGroup]="globalSettingsForm">
  <div class="form-group">
    <div class="input-group justify-content-center">
      <div class="col-sm-5 form-group">
        <label for="maxRecordings" class="my-1">Maximum Recordings</label>
        <div class="input-group">
          <input type="number" class="form-control" id="maxRecordings" formControlName="user.max_recordings">
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="editGlobalSettings()">Submit</button>
  <!-- <button type="button" class="btn btn-secondary" (click)="activeModal.close('aborted')">Abort</button> -->
</div>

<!--<form (keyup.enter)="editGlobalSettings(globalSettingsForm)" #globalSettingsForm="ngForm"
      (ngSubmit)="editGlobalSettings(globalSettingsForm)">
  <form class="form-inline col-sm-11 mx-auto py-3">
    <label for="maxRecordings" class="my-1">Maximum Recordings</label>
    <div class="input-group">
      <input type="number" class="form-control" placeholder="{{maxRecordings}}" id="maxRecordings" ngModel>
    </div>
  </form>

  <div class="col-sm-3">
    <label for="timeToAutoDelete" class="my-1">Time before autodeletion of recordings</label>
   @TODO convert time  -->
<!--   <input type="number" class="form-control" placeholder={{autoDeleteTimespan}} id="timeToAutoDelete"
          ngModel>
 </div>
 <div class="col">
   <button class="btn btn-primary" [disabled]="!globalSettingsForm.valid" role="button">Submit</button>
 </div>
</form> -->
<div class="row">
  <h2 class="display-5">Whitelist Retailers</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-sm-4">Name</th>
      <th class="col-sm-2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let whitelistRetailer of whitelistRetailers">
      <td class="col-sm-4">{{ whitelistRetailer.name }}</td>
      <td class="col-sm-2">
        <a (click)="openWhitelistRetailerView(whitelistRetailer.id)">
          <button type="button" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></button>
        </a>
        <a (click)="openWhitelistRetailerEditForm(whitelistRetailer.id)">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
        </a>
        <a (click)="openWhitelistRetailerDeletionDialog(whitelistRetailer.id)">
          <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
