<div class="row">
  <h1 class="display-3 text-center">Users</h1>
</div>

<div class="row">
  <h2 class="display-5">Pending Users</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-sm-4">Name</th>
      <th class="col-sm-4">E-Mail</th>
      <th class="col-sm-2"></th>
      <th class="col-sm-2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pendingUser of pendingUsers.data | paginate: { id: 'pending', itemsPerPage: pendingUsers.pageSize, currentPage: pendingUsers.page, totalItems: pendingUsers.total }">
      <td class="col-sm-4">{{ userService.getFullName(pendingUser) }}</td>
      <td class="col-sm-4">{{ pendingUser.email }}</td>
      <td class="col-sm-2"></td>
      <td class="col-sm-2">
        <a (click)="openUserAcceptDialog(pendingUser.id)" type="button" class="btn btn-success mx-1"><i
          class="bi bi-check"></i></a>
        <a (click)="openUserDeclineUser(pendingUser.id)" type="button" class="btn btn-danger mx-1"><i
          class="bi bi-x"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getPendingUsers($event)" id="pending"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">All Accepted Users</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-sm-4">Name</th>
      <th class="col-sm-4">E-Mail</th>
      <th class="col-sm-2">Role</th>
      <th class="col-sm-2"></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let acceptedUser of acceptedUsers.data | paginate: { id: 'accepted', itemsPerPage: acceptedUsers.pageSize, currentPage: acceptedUsers.page, totalItems: acceptedUsers.total }">
      <td class="col-sm-4">{{ userService.getFullName(acceptedUser) }}</td>
      <td class="col-sm-4">{{ acceptedUser.email }}</td>
      <td class="col-sm-2">{{ ['', 'Pending User', 'Visitor', 'Admin'][acceptedUser.role] }}</td>
      <td class="col-sm-2">
        <a (click)="openUserView(acceptedUser.id)">
          <button type="button" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></button>
        </a>
        <a (click)="openUserEditForm(acceptedUser.id)">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
        </a>
        <a (click)="openUserDeletionDialog(acceptedUser.id)" *ngIf="acceptedUser.id !== authService.getUserId()">
          <button type="button" class="btn btn-danger"><i
            class="bi bi-trash-fill"></i></button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getAcceptedUsers($event)" id="accepted"></pagination-controls>
  </div>
</div>
