<div class="row">
  <h1 class="display-3 text-center">Users</h1>
</div>

<div class="row">
  <h2 class="display-5">Pending Users</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col">Name</th>
      <th class="col">E-Mail</th>
      <th class="col-2"></th>
      <th class="col-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pendingUser of pendingUsers.data | paginate: { id: 'pending', itemsPerPage: pendingUsers.pageSize, currentPage: pendingUsers.page, totalItems: pendingUsers.total }">
      <td>{{ userService.getFullName(pendingUser) }}</td>
      <td>{{ pendingUser.email }}</td>
      <td></td>
      <td class="buttons">
        <a (click)="openUserAcceptDialog(pendingUser.id)" type="button" class="btn btn-success"><i class="bi bi-check"></i></a>
        <a (click)="openUserDeclineUser(pendingUser.id)" type="button" class="btn btn-danger"><i class="bi bi-x"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getPendingUsers($event)" id="pending"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">All Accepted Users</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col">Name</th>
      <th class="col">E-Mail</th>
      <th class="col-2">Role</th>
      <th class="col-1"></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let acceptedUser of acceptedUsers.data | paginate: { id: 'accepted', itemsPerPage: acceptedUsers.pageSize, currentPage: acceptedUsers.page, totalItems: acceptedUsers.total }">
      <td>{{ userService.getFullName(acceptedUser) }}</td>
      <td>{{ acceptedUser.email }}</td>
      <td>{{ ['', 'Pending User', 'Visitor', 'Admin'][acceptedUser.role] }}</td>
      <td class="buttons">
        <a (click)="openUserView(acceptedUser.id)" type="button" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></a>
        <a (click)="openUserEditForm(acceptedUser.id)" type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
        <a (click)="openUserDeletionDialog(acceptedUser.id)" *ngIf="acceptedUser.id !== authService.getUserId()" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getAcceptedUsers($event)" id="accepted"></pagination-controls>
  </div>
</div>
