<div class="row justify-content-center">
  <div class="card">
    <div class="col-auto card-body">
      <h5 class="card-title">Create Timeslot</h5>
      <form (keyup.enter)="createTimeslot()" [formGroup]="timeslotCreateForm">
        <div class="form-group">
          <label for="type" class="my-1">Type</label>
          <select class="form-select" id="type" formControlName="type">
            <option value="2">available</option>
            <option value="3">unavailable</option>
          </select>
        </div>
      </form>
      <div class="form-group">
        <label for="date" class="control-label">Day</label>
        <div class="input-group">
          <input class="form-control" type="text" id="date" #dateInput [value]="dateText">
          <input class="display-none" type="text" [positionTarget]="dateInput" placement="bottom"
                 [(ngModel)]="dateField" ngbDatepicker #d="ngbDatepicker"
                 (dateSelect)="handleDatepickerChange()">
          <button class="btn btn-primary" type="button" (click)="d.toggle();
          d.navigateTo({ year: +date.format('YYYY'), month: +date.format('MM') })">
            <i class="bi bi-calendar-date-fill"></i>
          </button>
        </div>
      </div>
      <form (keyup.enter)="createTimeslot()" [formGroup]="timeslotCreateForm">
        <div class="form-group">
          <label for="startTime" class="my-1">Start time</label>
          <div class="input-group">
            <input class="form-control" type="number" id="startTime" formControlName="startHour" step="1">
            <span class="input-group-text">:</span>
            <input class="form-control" type="text" value="00" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="endTime" class="my-1">End time</label>
          <div class="input-group">
            <input class="form-control" type="number" id="endTime" formControlName="endHour" step="1">
            <span class="input-group-text">:</span>
            <input class="form-control" type="text" value="00" disabled>
          </div>
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="(timeslotCreateForm.controls['startHour'].value >= timeslotCreateForm.controls['endHour'].value)
             && timeslotCreateForm.controls['endHour'].value != 24">
          End of appointment needs to be be after start!
        </div>
        <br>
        <div class="row">
          <div class="col text-center">
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="recurring" [checked]="isRecurring"
                     (change)="isRecurring = !isRecurring">
              <label class="form-check-label" for="recurring">Recurring Appointment</label>
            </div>
          </div>
        </div>
      </form>
      <form (keyup.enter)="createTimeslot()" *ngIf="isRecurring" [formGroup]="recurringTimeslotCreateForm">
        <div class="form-group">
          <label for="timeSlotRecurrence" class="my-1">Recurrence Frequency</label>
          <select class="form-select" id="timeSlotRecurrence" formControlName="timeSlotRecurrence">
            <option value="2">daily</option>
            <option value="3">weekly</option>
            <option value="4">monthly</option>
            <option value="5">yearly</option>
          </select>
        </div>
        <div class="form-group">
          <label for="endTime" class="my-1">Recurrence Amount</label>
          <div class="input-group">
            <input class="form-control" type="number" id="amount" formControlName="amount" step="1">
          </div>
        </div>
      </form>
      <div class="alert alert-danger mt-2" role="alert" *ngIf="appointmentConflictMessage !== ''">
        <b>Warning:</b><br>
        {{ appointmentConflictMessage }}<br>
        <br>
        <label class="form-check-label" for="force">
          <input type="checkbox" class="form-check-input" id="force" [checked]="force" (change)="force = !force">
          Delete timeslot including appointments.
        </label>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''" [innerHTML]="errorMessage"></div>
      <br>
      <div class="row">
        <div class="col text-center">
          <button (click)="createTimeslot()" class="btn btn-primary" role="button">Save</button>
          <button (click)="closeForm.emit(false)" class="btn btn-secondary" role="button">Abort</button>
        </div>
      </div>
    </div>
  </div>
</div>
