<div class="modal-header">
  <h4 class="modal-title">Request Order</h4>
</div>

<div class="modal-body">
  <form (keyup.enter)="requestOrder()" [formGroup]="requestOrderForm" (ngSubmit)="requestOrder()">
    <div class="form-group row">
      <label for="itemName" class="form-label">Item Name</label>
      <div class="input-group">
        <input type="text" class="form-control" list="itemOptions" id="itemName" placeholder="Item Name"
               formControlName="itemName">
        <datalist id="itemOptions">
          <option *ngFor="let item of existingItems" [value]="item.name"></option>
        </datalist>
      </div>
    </div>
    <div class="form-group row">
      <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Quantity" min="1" id="quantity"
               formControlName="quantity">
      </div>
    </div>
    <div class="form-group row">
      <label for="url" class="col-sm-3 col-form-label">URL</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="https://..." id="url"
               formControlName="url" (keyup)="checkUrlAgainstWhitelistedRetailers()">
      </div>
    </div>
    <br>
    <div class="alert alert-warning" role="alert" *ngIf="!isWhitelisted">
      URL is not whitelisted
      <a class="alert-link" href="javascript:void(0)" (click)="openWhitelistRetailerList()">See whitelisted
        retailers</a>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="requestOrderError">
      <b>Creation failed:</b><br>
      {{ requestOrderErrorMessage }}
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!requestOrderForm.valid"
          (click)="requestOrder()">Request
  </button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('aborted')">Abort</button>
</div>
