<div class="row">
  <h1 class="display-3 text-center">Inventory</h1>
</div>

<div class="row">
  <div class="col text-left">
    <a *ngIf="authService.isAdmin()" (click)="openInventoryItemCreationForm()" class="btn btn-primary" role="button"> <i class="bi-plus-lg"></i> Create Item</a>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="col">Item</th>
        <th class="col">Description</th>
        <th class="col">Quantity</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr *ngFor="let inventoryItem of inventory.data | paginate: { id: 'inventory', itemsPerPage: inventory.pageSize, currentPage: inventory.page, totalItems: inventory.total }">
        <td>{{ inventoryItem.name }}</td>
        <td>{{ inventoryItem.description }}</td>
        <td>{{ inventoryItem.quantity }}</td>
        <td class="buttons">
          <a (click)="openInventoryItemViewForm(inventoryItem.id)" type="button" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></a>
          <a *ngIf="authService.isAdmin()" (click)="openInventoryItemEditForm(inventoryItem.id)" type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
          <a *ngIf="authService.isAdmin()" (click)="openItemDeletionDialog(inventoryItem.id)" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
          <a (click)="openOrderCreationForm(inventoryItem.name, inventoryItem.id)" type="button" class="btn btn-success"><i class="bi bi-cart-plus-fill"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getInventory($event)" id="inventory"></pagination-controls>
  </div>
</div>
