<div class="row">
  <h1 class="display-3 text-center">My Appointments</h1>
</div>

<div class="row">
  <div class="col text-left">
    <a class="btn btn-primary" role="button" routerLink="/room-overview"> <i class="bi-plus-lg"></i>Create Appointment</a>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">My Appointments</a>
  </li>
  <li class="nav-item" *ngIf="authService.isAdmin()">
    <a class="nav-link" routerLink="/appointments/all">All Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/room-overview">Room Overview</a>
  </li>
</ul>

<div class="row">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col">Room</th>
      <th class="col">Date</th>
      <th class="col">Time</th>
      <th class="col">Recurrence</th>
      <th class="col">Last Date</th>
      <th class="col">Status</th>
      <th class="col-1"></th>
    </tr>
    </thead>
    <tbody class="align-middle">
    <tr *ngFor="let appointment of appointments.data | paginate: { id: 'appointments', itemsPerPage: appointments.pageSize, currentPage: appointments.page, totalItems: appointments.total }">
      <td>{{ appointment.room?.name }}</td>
      <td>{{ appointment.start?.format("DD.MM.YYYY") }}</td>
      <td>{{ appointment.start?.format("HH:mm") }} - {{ appointment.end?.format("HH:mm") }}</td>
      <td>{{ ['','single', 'daily', 'weekly', 'monthly', 'yearly'][appointment.timeSlotRecurrence]}}</td>
      <td>{{ appointment.maxStart ? appointment.maxStart.format("DD.MM.YYYY HH:mm") : '' }}</td>
      <td>{{ ['', 'pending', 'accepted', 'denied'][appointment.confirmationStatus] }}</td>
      <td class="buttons" style="text-align: right">
        <a *ngIf="appointment.confirmationStatus !== 3" [routerLink]="['/room-overview', { id: appointment.room.id, date: appointment.start?.toISOString() }]" type="button" class="btn btn-dark">
          <i class="bi bi-calendar2-week-fill"></i>
        </a>
        <a (click)="openAppointmentView(appointment.id)" type="button" class="btn btn-secondary">
          <i class="bi bi-eye-fill"></i>
        </a>
        <a (click)="openAppointmentDeletionDialog(appointment.id)" type="button" class="btn btn-danger">
          <i class="bi bi-trash-fill"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getAllAppointmentsForCurrentUser($event)" id="appointments"></pagination-controls>
  </div>
</div>
