<div class="modal-header">
  <h4 class="modal-title">View Order</h4>
</div>

<div class="modal-body">
  <form [formGroup]="orderViewForm">
    <div class="form-group">
      <label for="itemName" class="my-1">Item Name</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Item Name" id="itemName" formControlName="itemName"
               autocomplete="itemName">
      </div>
    </div>
    <div class="form-group">
      <label for="quantity" class="my-1">Quantity</label>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Quantity" id="quantity" formControlName="quantity"
               autocomplete="quantity">
      </div>
    </div>
    <div class="form-group">
      <label for="url" class="my-1">URL</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="URL" id="url" formControlName="url" autocomplete="url">
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="my-1">Order Status</label>
      <select class="form-select" id="status" formControlName="status">
        <option value="1">pending</option>
        <option value="2">declined</option>
        <option value="3">ordered</option>
        <option value="4">inventoried</option>
        <option value="5">sent back</option>
      </select>
    </div>
  </form>
</div>

<div class="modal-footer">
  <a *ngIf="canInteract && this.order.status !== 4 && this.order.status !== 5" (click)="openOrderEditForm()"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button></a>
  <a *ngIf="canInteract" (click)="openOrderDeletionDialog()"><button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button></a>
  <a *ngIf="canInteract && this.order.status === 3" (click)="openInventoryOrderForm()"><button type="button" class="btn btn-warning"><i class="bi bi-clipboard-check"></i></button></a>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(dirty ? 'dirty' : 'aborted')">Close</button>
</div>
