<div class="row">
  <h1 class="display-3 text-center">Livecam</h1>
</div>

<div class="row justify-content-center">
  <canvas #camera class="w-50"></canvas>
</div>

<div class="row">
  <div>
    <h2 class="display-5 d-inline">Scheduled Recordings</h2>
    <a (click)="openScheduleRecordingForm()" type="button" class="btn btn-primary d-inline mb-3"><i class="bi-plus-lg"></i> Schedule new Recording</a>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="col">Duration</th>
        <th class="col">User</th>
        <th class="col">Resolution</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recording of scheduledRecordings.data | paginate: { id: 'scheduled', itemsPerPage: scheduledRecordings.pageSize, currentPage: scheduledRecordings.page, totalItems: scheduledRecordings.total }">
        <td>{{ recording.start?.format("DD.MM.YYYY, HH:mm") }} - {{ recording.end?.format("DD.MM.YYYY, HH:mm") }}</td>
        <td>{{ userService.getFullName(recording.user!) }}</td>
        <td>{{ recording.resolution }}</td>
        <td class="buttons">
          <a (click)="openRecordingDeletionDialog(recording.id)" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getScheduledRecordings($event)" id="scheduled"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">Finished Recordings</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="col">Start</th>
        <th class="col">End</th>
        <th class="col">Resolution</th>
        <th class="col">Size</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recording of doneRecordings.data | paginate: { id: 'done', itemsPerPage: doneRecordings.pageSize, currentPage: doneRecordings.page, totalItems: doneRecordings.total }">
        <td>{{ recording.start?.format("DD.MM.YYYY, HH:mm") }}</td>
        <td>{{ recording.end?.format("DD.MM.YYYY, HH:mm") }}</td>
        <td>{{ recording.resolution }}</td>
        <td>{{ livecamService.readableBytes(recording.size!) }}</td>
        <td class="buttons">
          <a (click)="downloadRecording(recording.id)" type="button" class="btn btn-primary"><i class="bi bi-download"></i></a>
          <a (click)="openRecordingDeletionDialog(recording.id)" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getFinishedRecordings($event)" id="done"></pagination-controls>
  </div>
</div>
