<div class="row">
  <h1 class="display-3 text-center">Livecam</h1>
</div>

<div class="row justify-content-center">
  <canvas #camera class="w-50"></canvas>
</div>

<div class="row">
  <div>
    <h2 class="display-5 d-inline">Scheduled Recordings</h2>
    <button
      (click)="openScheduleRecordingForm()"
      type="button"
      class="btn btn-primary d-inline mb-3"
    >
      Schedule new Recording
    </button>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Duration</th>
        <th>User</th>
        <th>Resolution</th>
        <th class="col-sm-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recording of scheduledRecordings.data | paginate: { id: 'scheduled', itemsPerPage: scheduledRecordings.pageSize, currentPage: scheduledRecordings.page, totalItems: scheduledRecordings.total }">
        <td>{{ recording.start?.format("DD.MM.YYYY, HH:mm") }} - {{ recording.end?.format("DD.MM.YYYY, HH:mm") }}</td>
        <td>{{ userService.getFullName(recording.user!) }}</td>
        <td>{{ recording.resolution }}</td>
        <td class="col-sm-2">
          <button
            (click)="openRecordingDeletionDialog(recording.id)"
            type="button"
            class="btn btn-danger"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getScheduledRecordings($event)" id="scheduled"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">Finished Recordings</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Resolution</th>
        <th>Size</th>
        <th class="col-sm-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recording of doneRecordings.data | paginate: { id: 'done', itemsPerPage: doneRecordings.pageSize, currentPage: doneRecordings.page, totalItems: doneRecordings.total }">
        <td>{{ recording.start?.format("DD.MM.YYYY, HH:mm") }}</td>
        <td>{{ recording.end?.format("DD.MM.YYYY, HH:mm") }}</td>
        <td>{{ recording.resolution }}</td>
        <td>{{ readableBytes(recording.size!) }}</td>
        <td class="col-sm-2">
          <button
            (click)="downloadRecording(recording.id)"
            type="button"
            class="btn btn-primary"
          >
            <i class="bi bi-download"></i>
          </button>
          <button
            (click)="openRecordingDeletionDialog(recording.id)"
            type="button"
            class="btn btn-danger"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getFinishedRecordings($event)" id="done"></pagination-controls>
  </div>
</div>