<div class="modal-header">
  <h4 class="modal-title">Delete Order</h4>
</div>

<div class="modal-body">
  <p>Are you sure that you want to delete this order?</p>
  <form [formGroup]="orderDeleteForm">
    <div class="form-group">
      <label for="itemName" class="my-1">Item Name</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Item Name" id="itemName" formControlName="itemName">
      </div>
    </div>
    <div class="form-group">
      <label for="quantity" class="my-1">Quantity</label>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Quantity" id="quantity" formControlName="quantity"
               autocomplete="quantity">
      </div>
    </div>
    <div class="form-group">
      <label for="url" class="my-1">URL</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="URL" id="url" formControlName="url" autocomplete="url">
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="my-1">Order Status</label>
      <select class="form-control" id="status" formControlName="status">
        <option value="1">pending</option>
        <option value="2">declined</option>
        <option value="3">ordered</option>
        <option value="4">inventoried</option>
        <option value="5">sent back</option>
      </select>
    </div>
  </form>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''" [innerHTML]="errorMessage"></div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deleteOrder()">Delete Order</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('aborted')">Abort</button>
</div>
