<div class="row">
  <h1 class="display-3 text-center">Message Box</h1>
</div>

<div class="row card-container">
  <div class="card" *ngFor="let message of messages.data | paginate: { id: 'messages', itemsPerPage: messages.pageSize, currentPage: messages.page, totalItems: messages.total }">
    <div class="card-body">
      <h5 class="card-title">{{ message.title }}</h5>
      <p class="card-text">{{ message.content }}</p>
      <div class="col text-center">
        <a [routerLink]="message.correspondingUrl" class="btn btn-primary position-relative" role="button"
        (click)="markMessageAsRead(message.id)" *ngIf="message.correspondingUrl !== null && message.correspondingUrlText !== null">
          {{ message.correspondingUrlText }}
        </a><br>
        <button class="btn btn-secondary position-relative" *ngIf="!message.readStatus"
                (click)="markMessageAsRead(message.id)">
          <i class="bi bi-envelope-open-fill"></i>
        </button>
        <button class="btn btn-secondary position-relative" *ngIf="message.readStatus"
                (click)="markMessageAsUnread(message.id)">
          <i class="bi bi-envelope-fill"></i>
        </button>
        <button class="btn btn-danger position-relative" (click)="openMessageDeletionDialog(message)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </div>
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            *ngIf="!message.readStatus">
        <span class="visually-hidden">unread message</span>
      </span>
    </div>
  </div>
  <div *ngIf="messages.data.length === 0" class="text-center">
    no messages
  </div>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getMessages($event)" id="messages"></pagination-controls>
  </div>
</div>
