<div class="row">
  <h1 class="display-3 text-center">All Orders</h1>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/orders">My Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">All Orders</a>
  </li>
</ul>

<div class="row">
  <div class="col text-left">
    <a (click)="openOrderCreationForm()" class="btn btn-primary" role="button"> <i class="bi-plus-lg"></i> Request Order</a>
  </div>
</div>

<div class="row">
  <h2 class="display-5">Pending Order Requests</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="col">Item</th>
        <th class="col">Quantity</th>
        <th class="col">Purchase Url</th>
        <th class="col">User</th>
        <th class="col"></th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pendingOrder of pendingOrders.data | paginate: { id: 'pending', itemsPerPage: pendingOrders.pageSize, currentPage: pendingOrders.page, totalItems: pendingOrders.total }">
        <td>{{ getItemName(pendingOrder) }}</td>
        <td>{{ pendingOrder.quantity}}</td>
        <td>{{ pendingOrder.url}}</td>
        <td>{{ userService.getFullName(pendingOrder.user)}}</td>
        <td></td>
        <td class="buttons">
          <a (click)="openOrderAcceptDialog(pendingOrder.id)" type="button" class="btn btn-success"><i class="bi bi-check"></i></a>
          <a (click)="openOrderDeclineDialog(pendingOrder.id)" type="button" class="btn btn-danger"><i class="bi bi-x"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getPendingOrders($event)" id="pending"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">Accepted Orders</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="col">Item</th>
        <th class="col">Quantity</th>
        <th class="col">Purchase Url</th>
        <th class="col">User</th>
        <th class="col-1">Order Status</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let acceptedOrder of acceptedOrders.data | paginate: { id: 'accepted', itemsPerPage: acceptedOrders.pageSize, currentPage: acceptedOrders.page, totalItems: acceptedOrders.total }">
        <td>{{ getItemName(acceptedOrder) }}</td>
        <td>{{ acceptedOrder.quantity}}</td>
        <td>{{ acceptedOrder.url}}</td>
        <td>{{ userService.getFullName(acceptedOrder.user)}}</td>
        <td>{{ ['', 'pending', 'declined', 'ordered', 'inventoried', 'sent back'] [acceptedOrder.status] }}</td>
        <td class="buttons">
          <a (click)="openOrderView(acceptedOrder.id)" type="button" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></a>
          <a *ngIf="acceptedOrder.status !== 4 && acceptedOrder.status !== 5"(click)="openOrderEditForm(acceptedOrder.id)" type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
          <a (click)="openOrderDeletionDialog(acceptedOrder.id)" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
          <a *ngIf="acceptedOrder.status === 3" (click)="openInventoryOrderForm(acceptedOrder.id)" type="button" class="btn btn-warning"><i class="bi bi-clipboard-check"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getAcceptedOrders($event)" id="accepted"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">Declined Orders</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="col">Item</th>
        <th class="col">Quantity</th>
        <th class="col">Purchase Url</th>
        <th class="col">User</th>
        <th class="col"></th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let declinedOrder of declinedOrders.data | paginate: { id: 'declined', itemsPerPage: declinedOrders.pageSize, currentPage: declinedOrders.page, totalItems: declinedOrders.total }">
        <td>{{ getItemName(declinedOrder) }}</td>
        <td>{{ declinedOrder.quantity}}</td>
        <td>{{ declinedOrder.url}}</td>
        <td>{{ userService.getFullName(declinedOrder.user)}}</td>
        <td>
        <td class="buttons">
          <a (click)="openOrderView(declinedOrder.id)" type="button" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></a>
          <a (click)="openOrderEditForm(declinedOrder.id)" type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
          <a (click)="openOrderDeletionDialog(declinedOrder.id)" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getDeclinedOrders($event)" id="declined"></pagination-controls>
  </div>
</div>
