<ngx-loading-bar></ngx-loading-bar>

<div class="container p-3">
  <header class="bg-navbar kit-rounded bg-primary">
    <nav class="navbar navbar-expand-lg navbar-dark nav-fill w-100">
      <div class="container-fluid" style="height: 3rem;">
        <a class="navbar-brand" routerLink="/"><img src="/assets/teco_logo.png" alt="logo of TECO">Hardware Lab</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!authService.isUserLoggedIn()">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <a routerLink="/login" role="button" class="btn btn-light mx-1">Log in</a>
          <a routerLink="/register" role="button" class="btn btn-light mx-1">Register</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"
             *ngIf="authService.isUserLoggedIn() && !authService.isAdmin()">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownAppointments" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Appointments
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownAppointments">
                <a class="dropdown-item" routerLink="/appointments">My Appointments</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" routerLink="/room-overview">Room Overview</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/inventory">Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/orders">My Orders</a>
            </li>
          </ul>
          <div class="d-flex">
            <a routerLink="/help">
              <i class="bi bi-question-circle px-2" style="font-size: 2rem;"></i>
            </a>
            <a routerLink="/message-box" *ngIf="showMessageBox">
              <i class="bi bi-envelope px-2 position-relative" style="font-size: 2rem;">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                      style="left: 42px !important; top: 12px !important;" *ngIf="unreadMessages.sum !== 0">
                  {{ unreadMessages.sum }}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </i>
            </a>
            <div class="dropdown">
              <i class="bi bi-person-circle px-2 dropdown-toggle bg-primary" id="accountDropdownAdmin"
                 role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 2rem;"></i>
              <div class="dropdown-menu" aria-labelledby="accountDropdownAdmin">
                <a class="dropdown-item" routerLink="/settings">Account Settings</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" (click)="logout()">Log out</a>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"
             *ngIf="authService.isUserLoggedIn() && authService.isAdmin()">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownAppointmentsAdmin" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Appointments
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownAppointmentsAdmin">
                <a class="dropdown-item" routerLink="/appointments">My Appointments</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" routerLink="/room-overview">Room Overview</a>
                <a class="dropdown-item" routerLink="/appointments/all">All Appointments</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/rooms">Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/inventory">Inventory</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownOrdersAdmin" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Orders
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownOrdersAdmin">
                <a class="dropdown-item" routerLink="/orders">My Orders</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" routerLink="/orders/all">All Orders</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/livecam">LiveCam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/users">Users</a>
            </li>
          </ul>
          <div class="d-flex">
            <a routerLink="/help">
              <i class="bi bi-question-circle px-2" style="font-size: 2rem;"></i>
            </a>
            <a routerLink="/message-box" *ngIf="showMessageBox">
              <i class="bi bi-envelope px-2 position-relative" style="font-size: 2rem;">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="left: 42px !important; top: 12px !important;" *ngIf="unreadMessages.sum !== 0">
                {{ unreadMessages.sum }}
                <span class="visually-hidden">unread messages</span>
              </span>
              </i>
            </a>
            <div class="dropdown">
              <i class="bi bi-person-circle px-2 dropdown-toggle bg-primary" id="accountDropdown"
                 role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 2rem;"></i>
              <div class="dropdown-menu" aria-labelledby="accountDropdown">
              <a class="dropdown-item" routerLink="/settings">Account Settings</a>
              <hr class="dropdown-divider">
                <a class="dropdown-item" routerLink="/application-settings">Application Settings</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" (click)="logout()">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<script>
  $(function(){
    $("a").each(function(){
      if ($(this).attr("routerLink") == window.location.pathname){
        $(this).addClass("active");
        $(this).attr("aria-current", "page");
      }
    });
  });
</script>
