<div class="modal-header">
  <h4 class="modal-title">Delete Message</h4>
</div>
<div class="modal-body">
  <p>Are you sure that you want to delete this message?</p>

  <form [formGroup]="messageDeleteForm">
    <span class="badge bg-warning" *ngIf="!message.readStatus">Message is unread</span>
    <div class="form-group row">
      <label for="title" class="my-1">Title</label>
      <div class="input-group">
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
    </div>
    <div class="form-group row">
      <label for="content" class="my-1">Text</label>
      <div class="input-group">
        <textarea class="form-control" id="content" formControlName="content" autosize></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deleteMessage()">Delete Message</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('aborted')">Abort</button>
</div>
