.input-group .btn-primary {
  margin: 0 0;
  border-radius:  0 0.25rem 0.25rem 0 !important;
}

.input-group input#day {
  border-radius:  0.25rem 0 0 0.25rem !important;
}

.input-group .btn.arrows {
  padding: 0 6px !important;
  margin: 6px !important;
  border-radius: 0.25rem !important;
}
