<div class="row">
  <h1 class="display-3 text-center">Rooms</h1>
</div>

<div class="row">
  <div class="col text-left">
    <a (click)="openRoomCreationForm()" class="btn btn-primary" role="button"> <i class="bi-plus-lg"></i> Create Room</a>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-sm-1">Name</th>
      <th class="col-sm-4">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms.data | paginate: { id: 'rooms', itemsPerPage: rooms.pageSize, currentPage: rooms.page, totalItems: rooms.total }">
      <td class="col-sm-1">{{ room.name }}</td>
      <td class="col-sm-4">{{ room.description }}</td>
      <td class="col-sm-1">
        <button type="button" class="btn btn-primary" routerLink="/room/{{ this.room.id }}/timeslots">Edit Available Timeslots</button>
        <a (click)="openRoomView(room.id)">
          <button type="button" class="btn btn-secondary"><i class="bi bi-eye-fill"></i></button>
        </a>
        <a (click)="openRoomEditForm(room.id)">
          <button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
        </a>
        <a (click)="openRoomDeletionDialog(room.id)">
          <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getRooms($event)" id="rooms"></pagination-controls>
  </div>
</div>
