<div class="row">
  <h1 class="display-3 text-center">All Appointments</h1>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/appointments">My Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page">All Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/room-overview">Room Overview</a>
  </li>
</ul>

<div class="row">
  <h2 class="display-5">Pending Appointment Requests</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-sm-2">Room</th>
      <th class="col-sm-2">Date</th>
      <th class="col-sm-2">Time</th>
      <th class="col">Recurrence</th>
      <th class="col">Last Date</th>
      <th class="col-sm-2">User</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pendingAppointment of pendingAppointments.data | paginate: { id: 'pending', itemsPerPage: pendingAppointments.pageSize, currentPage: pendingAppointments.page, totalItems: pendingAppointments.total }">
      <td class="col-sm-2">{{ pendingAppointment.room.name }}</td>
      <td class="col-sm-2">{{ pendingAppointment.start?.format("DD.MM.YYYY") }}</td>
      <td class="col-sm-2">
        {{ pendingAppointment.start?.format("HH:mm") }} - {{ pendingAppointment.end?.format("HH:mm") }}
      </td>
      <td class="col-sm-2">{{ ['','single', 'daily', 'weekly', 'monthly', 'yearly'][pendingAppointment.timeSlotRecurrence]}}</td>
      <td class="col-sm-2">{{ pendingAppointment.maxStart ? pendingAppointment.maxStart.format("DD.MM.YYYY HH:mm") : '' }}</td>
      <td class="col-sm-2">{{ userService.getFullName(pendingAppointment.user) }}</td>
      <td class="d-flex justify-content-end">
        <a (click)="openAppointmentAcceptDialog(pendingAppointment.id)" type="button" class="btn btn-success mx-1">
          <i class="bi bi-check"></i>
        </a>
        <a (click)="openAppointmentDeclineDialog(pendingAppointment.id)" type="button" class="btn btn-danger mx-1">
          <i class="bi bi-x"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getPendingAppointments($event)" id="pending"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">All Accepted Appointments</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-sm-2">Room</th>
      <th class="col-sm-2">Date</th>
      <th class="col-sm-2">Time</th>
      <th class="col">Recurrence</th>
      <th class="col">Last Date</th>
      <th class="col-sm-2">User</th>
    </tr>
    </thead>
    <tbody class="align-middle">
    <tr *ngFor="let acceptedAppointment of acceptedAppointments.data | paginate: { id: 'accepted', itemsPerPage: acceptedAppointments.pageSize, currentPage: acceptedAppointments.page, totalItems: acceptedAppointments.total }">
      <td class="col-sm-2">{{ acceptedAppointment.room.name }}</td>
      <td class="col-sm-2">{{ acceptedAppointment.start?.format("DD.MM.YYYY") }}</td>
      <td class="col-sm-2">
        {{ acceptedAppointment.start?.format("HH:mm") }} - {{ acceptedAppointment.end?.format("HH:mm") }}
      </td>
      <td class="col-sm-2">{{ ['','single', 'daily', 'weekly', 'monthly', 'yearly'][acceptedAppointment.timeSlotRecurrence]}}</td>
      <td class="col-sm-2">{{ acceptedAppointment.maxStart ? acceptedAppointment.maxStart.format("DD.MM.YYYY HH:mm") : '' }}</td>
      <td class="col-sm-2">{{ userService.getFullName(acceptedAppointment.user) }}</td>
      <td class="d-flex justify-content-end">
        <a (click)="openAppointmentView(acceptedAppointment.id)" type="button" class="btn btn-secondary mx-1">
          <i class="bi bi-eye-fill"></i>
        </a>
        <a (click)="openAppointmentEditForm(acceptedAppointment.id)"><button type="button" class="btn btn-primary">
          <i class="bi bi-pencil-fill"></i></button>
        </a>
        <a (click)="openAppointmentDeletionDialog(acceptedAppointment.id)" type="button" class="btn btn-danger mx-1">
          <i class="bi bi-trash-fill"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getAcceptedAppointments($event)" id="accepted"></pagination-controls>
  </div>
</div>

<div class="row">
  <h2 class="display-5">All Denied Appointments</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th class="col-sm-2">Room</th>
      <th class="col-sm-2">Date</th>
      <th class="col-sm-2">Time</th>
      <th class="col">Recurrence</th>
      <th class="col">Last Date</th>
      <th class="col-sm-2">User</th>
    </tr>
    </thead>
    <tbody class="align-middle">
    <tr *ngFor="let deniedAppointment of deniedAppointments.data | paginate: { id: 'denied', itemsPerPage: deniedAppointments.pageSize, currentPage: deniedAppointments.page, totalItems: deniedAppointments.total }">
      <td class="col-sm-2">{{ deniedAppointment.room.name }}</td>
      <td class="col-sm-2">{{ deniedAppointment.start?.format("DD.MM.YYYY") }}</td>
      <td class="col-sm-2">
        {{ deniedAppointment.start?.format("HH:mm") }} - {{ deniedAppointment.end?.format("HH:mm") }}
      </td>
      <td class="col-sm-2">{{ ['','single', 'daily', 'weekly', 'monthly', 'yearly'][deniedAppointment.timeSlotRecurrence]}}</td>
      <td class="col-sm-2">{{ deniedAppointment.maxStart ? deniedAppointment.maxStart.format("DD.MM.YYYY HH:mm") : '' }}</td>
      <td class="col-sm-2">{{ userService.getFullName(deniedAppointment.user) }}</td>
        <td class="d-flex justify-content-end">
        <a (click)="openAppointmentView(deniedAppointment.id)" type="button" class="btn btn-secondary mx-1">
          <i class="bi bi-eye-fill"></i>
        </a>
        <a (click)="openAppointmentDeletionDialog(deniedAppointment.id)" type="button" class="btn btn-danger mx-1">
          <i class="bi bi-trash-fill"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="getDeniedAppointments($event)" id="denied"></pagination-controls>
  </div>
</div>
