/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --grey600:   #6c757d;
  --yellow:    #fce500;
  --orange:    #df9b1b;

  --primary:   #009682;
  --secondary: #4664aa;
  --success:   #8cb63c;
  --info:      #23a1e0;
  --warning:   var(--orange);
  --danger:    #a22223;
}

.bg-primary {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.btn {
  margin: 5px 8px;
  border-radius: 0 !important;
  border-top-right-radius: 0.7rem !important;
  border-bottom-left-radius: 0.7rem !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-secondary {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.btn-success {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}

.btn-danger {
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
}

.kit-rounded {
  border-radius: 0 !important;
  border-top-right-radius: 0.7rem !important;
  border-bottom-left-radius: 0.7rem !important;
}

.card {
  border-radius: 0 !important;
  border-top-right-radius: 0.7rem !important;
  border-bottom-left-radius: 0.7rem !important;
}

.modal-content {
  border-radius: 0 !important;
  border-top-right-radius: 0.7rem !important;
  border-bottom-left-radius: 0.7rem !important;
}

.container {
  max-width: 90%;
}

.card-container .card {
  margin: 10px;
  width: calc(25% - 20px);
  min-width: 280px;
}

nav i {
  color: #fff;
}

i#accountDropdown::after {
  font-size: 18px;
  margin-left: 3px;
}

span.badge {
  font-size: 12px;
  z-index: 5;
}

nav img {
  height: 30px;
}

table.cal-table th, table.cal-table td {
  width: 12.5%;
  text-align: center;
}

table.cal-table td {
  height: 55px;
  vertical-align: middle;
}

td.cal-green {
  background-color: var(--success);
}

td.cal-orange {
  background-color: var(--orange);
}

td.cal-red {
  background-color: var(--danger);
}

td.cal-grey {
  background-color: var(--grey600);
}

td.cal-info {
  background-color: var(--info);
}

table.cal-table .btn {
  border: 1px solid #fff !important;
}

table.cal-table i {
  color: #fff;
}

input.danger {
  border-color: var(--danger);
  color: var(--danger);
}

.danger {
  color: var(--danger);
}

input.warning {
  border-color: var(--warning);
  color: var(--warning);
}

.warning {
  color: var(--warning);
}

.modal-dialog {
  top: 60px;
}

.pointer {
  cursor: pointer;
}

.display-none {
  display: none;
}

.markdown {
  font-size: 20px;
}
