<div class="row">
  <h1 class="display-3 text-center">Dashboard</h1>
</div>

<div class="row card-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Appointments</h5>
      <p class="card-text">You can book appointments to use rooms of TECO.</p>
      <div class="col text-center">
        <a routerLink="/appointments" class="btn btn-primary position-relative" role="button">
          My Appointments
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="unreadMessages.appointments !== 0">
            {{ unreadMessages.appointments }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <a routerLink="/room-overview" class="btn btn-primary" role="button">Room Overview</a>
        <a routerLink="/appointments/all" class="btn btn-secondary position-relative" role="button"
           *ngIf="authService.isAdmin()">
          All Appointments
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="unreadMessages.appointments_admin !== 0">
            {{ unreadMessages.appointments_admin }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="authService.isAdmin()">
    <div class="card-body">
      <h5 class="card-title">Rooms</h5>
      <p class="card-text">You can manage the rooms of TECO available for appointments.</p>
      <div class="col text-center">
        <a routerLink="/rooms" class="btn btn-secondary" role="button">Manage Rooms</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Inventory</h5>
      <p class="card-text">You can see what TECO lab has in stock.</p>
      <div class="col text-center">
        <a routerLink="/inventory" class="btn btn-primary" role="button">Show Inventory</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Order Requests</h5>
      <p class="card-text">If you need something you can request an order.<br>
        <span *ngIf="authService.isAdmin()"> As admin you can manage order requests.</span></p>
      <div class="col text-center">
        <a routerLink="/orders" class="btn btn-primary position-relative" role="button">
          My Orders
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="unreadMessages.orders !== 0">
            {{ unreadMessages.orders }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <a routerLink="/orders/all" class="btn btn-secondary position-relative" role="button"
           *ngIf="authService.isAdmin()">
          All Orders
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="unreadMessages.orders_admin !== 0">
            {{ unreadMessages.orders_admin }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="authService.isAdmin()">
    <div class="card-body">
      <h5 class="card-title">LiveCam</h5>
      <p class="card-text">You can supervise usage of the lab via a camera.</p>
      <div class="col text-center">
        <a routerLink="/livecam" class="btn btn-secondary" role="button">Show LiveCam</a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="authService.isAdmin()">
    <div class="card-body">
      <h5 class="card-title">Users</h5>
      <p class="card-text">You can manage users of this application.</p>
      <div class="col text-center">
          <a routerLink="/users" class="btn btn-secondary position-relative" role="button">Manage Users
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  *ngIf="unreadMessages.users !== 0">
              {{ unreadMessages.users }}
              <span class="visually-hidden">unread messages</span>
            </span></a>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="showMessageBox">
    <div class="card-body">
      <h5 class="card-title">Message Box</h5>
      <p class="card-text">You get messages from this application in your message box.</p>
      <div class="col text-center">
        <a routerLink="/message-box" class="btn btn-primary position-relative" role="button">Show messages
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="unreadMessages.sum !== 0">
            {{ unreadMessages.sum }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Settings</h5>
      <p class="card-text">You can change your personal settings for this application.<br>
        <span *ngIf="authService.isAdmin()">As admin additionally you can change the application's settings.</span>
      </p>
      <div class="col text-center">
        <a routerLink="/settings" class="btn btn-primary position-relative" role="button">
          Account Settings
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="unreadMessages.settings !== 0">
            {{ unreadMessages.settings }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <span *ngIf="authService.isAdmin()">
          <a routerLink="/application-settings" class="btn btn-secondary" role="button">Application Settings</a>
        </span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Help</h5>
      <p class="card-text">You can get help to use this application.</p>
      <div class="col text-center">
        <a routerLink="/help" class="btn btn-primary" role="button">Show help & FAQs</a>
      </div>
    </div>
  </div>
</div>
